<nav class="navbar navbar-light bg-info">
  
  <div class="container-fluid">
    <h1>Employee Management</h1>
    <button routerLink="/addEmployee" routerLinkActive="active" type="button" data-bs-toggle="modal" data-bs-target="#addModel" class="btn btn-success" >Add Employee</button>
    <button routerLink="/display" type="button" data-bs-toggle="modal" data-bs-target="#addModel" class="btn btn-success" >Display Employees</button>
    <button routerLink="/signin" type="button" data-bs-toggle="modal" data-bs-target="#addModel" class="btn btn-success" >login</button>
 
  </div>
</nav>
<router-outlet></router-outlet>